body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
}

.form-container {
  background:rgb(238, 212, 216);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  width: 25%;
  height: auto;
  text-align: center;

}
.sam{
  color:rgb(223, 8, 148);
  font-size: 26px;
  font-weight: bold;
}

label {
  display: flex;
  text-align: center;
  margin: 12px 0 5px;
  font-weight: 600;
  color: #af189e;
}


input, select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  /* transition: all 0.3s ease; */
}
/* 
input:focus, select:focus {
  border-color: #7b2ff7;
  box-shadow: 0 0 5px #c77dff;
} */


.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn {
  flex: 1;
  margin: 5px;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #6a11cb, #2575fc ,grey);
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  /* transition: transform 0.2s ease,  0.3s ease; */
}

.btn:hover {
  transform: scale(1.05);
}

.clear {
  background: linear-gradient(90deg, #ff512f, #dd2476);
}

.reset {
  background: linear-gradient(90deg, #11998e, #38ef7d);
}
/* 
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
} */